/* responsive content width */

@media (min-width: 1200px) {
  nav,
  main,
  footer > div {
    max-width: 1170px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  nav,
  main,
  footer > div {
    max-width: 970px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  nav,
  main,
  footer > div {
    max-width: 750px;
  }
}

/* content framing */

* {
  box-sizing: border-box;
  margin: 0; /* Make header and footer extend to window border */
}

body {
  background-color: #f2f2f2;
}

nav,
main,
footer > div {
  margin-right: auto;
  margin-left: auto;
}

article {
  display: table; /* To include any bottom images */
  background-color: white;
  padding: 45px 50px;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid #dadada;
  border-top: none;
}

/* header */

header {
  background-color: #60AA28;
}

nav {
  padding: 16px;
}

nav > a {
  /* Home link*/
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 20px;
  color: #f5f7fa;
  text-decoration: none;
  float: left;
}

nav ul {
  list-style: none; /* No bullets on menu items */
  margin: 0; /* No additional spacing */
  text-align: right; /* Keep the menu items to the right */
}

nav ul li {
  display: inline-block;
  padding: 0 10px; /* Keep some spacing between menu items */
  float: none; /* Keep the menu items on the same line */
}

nav ul li a {
  font-size: 12px;
  text-transform: uppercase;
  color: #f5f7fa;
  text-decoration: none;
  transition: all 0.3s;
  line-height: 40px;
}

nav ul li a:hover {
  color: #dadada;
}

nav ul li a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

nav ul li a img {
  vertical-align: middle;
}

header div.nav-border {
  height: 3px;
  background-color: #EC02BA;
}

/* footer */

footer {
  background-color: #60AA28;
  color: #f5f7fa;
}

footer > div {
  padding: 16px;
  overflow: hidden;
}

footer > div > div:nth-child(1) {
  float: left;
}

footer > div > div:nth-child(2) {
  float: right;
  text-align: right;
}

/* headline text */

h1,
h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  padding-top: 8px;
}

h1 {
  font-size: 28px;
  color: #404040;
}

h2 {
  font-size: 20px;
  color: #92d050;
}

/* body text */

body {
  color: #1c1c1c;
  word-wrap: break-word;
  font-family: "Open Sans", sans-serif;
  line-height: 1.7;
  font-size: 14px;
}

p {
  padding-top: 8px;
}

/* link text */

article a {
  color: #548235;
  text-decoration: none;
  transition: all 0.3s;
}

article a:hover {
  text-decoration: underline;
}

article a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  text-decoration: underline;
}

/* quotes */

blockquote:nth-child(odd) {
  padding-right: 30%;
}

blockquote:nth-child(even) {
  padding-left: 30%;
  text-align: right;
}

/* image scaling and positioning */

p img {
  /* position: center */
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* position: margin */
  margin-top: 8px;
  margin-bottom: 8px;
  /* scaling: */
  max-width: 70%;
  height: auto;
}

figure p {
  text-align: center;
}

figcaption {
  padding: 9px;
  text-align: center;
  font-style: italic;
}

/* fonts */

/* Note: via: https://fonts.googleapis.com/css?family=Open+Sans%3A400italic%2C400%2C600%2C700%7CRoboto+Slab%3A400%2C300%2C700&#038;ver=4.7.19 */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem6YaGs126MiZpBA-UFUK0Xdc1UAw.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem6YaGs126MiZpBA-UFUK0Zdc0.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFW50bbck.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVZ0b.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/robotoslab/v12/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjoa4OmYWRjRdE.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/robotoslab/v12/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjoa4Omb2Rj.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
